.markdown{
    text-align: start;
    padding: 10vmin;
    height: calc(100vh - 64px);
    overflow-y: scroll;
}

img.head{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
}

.markdown h1{
    font-size: 50px;
}