.timeline {
    width: 100vw;
    height: 100vh;
    padding: 80px 10px;
    overflow-y: scroll;
}

.timeline h1 {
    font-weight: normal;
    font-size: 21px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.timeline h6 {
    font-weight: normal;
    font-style: italic;
}

.ant-timeline {
    max-width: 700px !important;
    margin: auto !important;
    padding: 36px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.10);
}

.ant-timeline-item.ant-timeline-item-left {
    margin-left: -46% !important;
}