.App {
    text-align: center;
}


/* settings for all */

* {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
}


/* scrollbar */

* {
    scrollbar-width: auto;
    scrollbar-color: pink rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 10px;
    margin: 3px;
    border: 3px solid white;
}

*::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

*::-webkit-scrollbar-track-piece:end {
    background: transparent;
}


/* z-index 999 */

.top {
    z-index: 999;
}

.top.wrapper>div {
    z-index: 999;
}

.none{
    opacity: 0;
}