@font-face {
    font-family: lxgw;
    src: url(./fonts/LXGWWenKai-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: lxgw;
    src: url(./fonts/LXGWWenKai-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: lxgw;
    src: url(./fonts/LXGWWenKai-Bold.ttf);
    font-weight: 700;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: lxgw, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}