@YM-dark: #520066;
@YM-light: #b99ac0;

@YM-theme-color-0: @YM-dark;
@YM-theme-color-1: white;
@YM-theme-color-active-bg: @YM-light;
@YM-theme-color-active-fg: @YM-theme-color-0;
@YM-scroll-fg: @YM-light;
@YM-scroll-bg: white;