@import '../../../theme.less';

.cover_page,
.cover_img {
    height: 100vh;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.cover_img img {
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.cover_img svg {
    height: 50vh;
    margin-bottom: 15vh;
    width: 50vh;
}

.cover_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover_page>*:nth-child(1) h1 {
    font-weight: lighter;
    font-size: 10vh;
    margin: 0px;
    width: 100vw;
    color: @YM-light;
}

.cover_page>*:nth-child(2) {
    margin-top: -30vh;
}

.cover_page>*:nth-child(3) {
    margin-top: 30vh;
}

.cover_page_index_block {
    display: flex;
}

.cover_page_index_block>.cover_page_index {
    margin: 3vmin;
    z-index: 999;
    width: 40vmin;
    height: 40vmin;
    max-width: 160px;
    max-height: 160px;
}

.cover_page_index_block>.cover_page_index .flip_card_face {
    border: 2px solid @YM-light;
    width: 40vmin;
    height: 40vmin;
    max-width: 160px;
    max-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: @YM-theme-color-1;
    color: @YM-theme-color-1;
    background-color: @YM-light;
}

.cover_page_index_block>.cover_page_index .flip_card_face svg {
    width: 16vmin;
    height: 16vmin;
    max-width: 64px;
    max-height: 64px;
}

.cover_page_index_block>.cover_page_index .flip_card_face>* {
    margin: 1vmin;
    font-size: 20px;
}